#characters-table{
	margin: auto;
	margin-bottom: 15px;
	border-radius: 15px;
	font-family: "arial";
	color: #808080;
	width: 90%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-collapse: collapse;
	text-align: center;
}

#characters-table tr:nth-child(even){
	background-color: #F5F5F5;	
}

#characters-table tr:nth-child(odd){
	background-color: #FFF;
}

#characters-table thead th{
	background-color: #7B68EE;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	height: 60px;
}

#characters-table thead th:first-child{
	border-top-left-radius: 15px;
}

#characters-table thead th:last-child{
	border-top-right-radius: 15px;
}

#characters-table tbody tr{
	height: 60px;
}

#characters-table tbody tr:last-child td:last-child{
	border-radius: 15px;
}
#characters-table tbody tr:last-child td:first-child{
	border-radius: 15px;
}

#btnNext{
	margin-left: 50px;
}

#nextPage{
	background-color: #FFF;
	margin-top: 10px;
	margin-left: 5px;
	border: none;
	cursor: pointer;
}
#previousPage{
	background-color: #FFF;
	margin-top: 10px;
	right: 50px;
	margin-left:5px;
	border: none;
	cursor: pointer;
}

.btn{
	display: inline-block;
	background-color: #FFF;
	margin-top:10px;
	margin-bottom:15px;
	position: relative;
	margin-left:5px;
	border: none;
	padding: 8px 12px;
	border-radius: 5px; 
	font-size: 16px;
	cursor: pointer;
}

.btnActive{
	display: inline-block;
	font-size: 14px;
	background-color: #7B68EE;
	border: none;
	color: #FFF; 
	margin: 5px;
	padding: 8px 12px;
	border-radius: 5px;
	font-size: 16px;
}

#div-button{
	margin-right:5%;
	float: right;
}

.btn:hover:not(.btnActive){
	background-color: #F5F5F5;
}